.photo-grid {
  width: calc(100% - 96px);
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin: 0 48px;
  margin-top: 92px;
}

@media screen and (max-width: 1183px) {
  .photo-grid {
    max-width: calc(100% - 96px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin: 0 48px;
    margin-top: 92px;
  }
}