.photo-grid {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin: 0 auto;
  margin-top: 92px;
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin: 0 auto;
    margin-top: 92px;
  }
}