.cover__subtitle {
  width: 360px;
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  
}
@media (max-width: 660px) {
  .cover__subtitle {
    max-width: 288px;
    width: 100%;
    line-height: 16px;
    font-size: 14px;
  }
}