.header {
  width: calc(100% - 96px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 28px;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .header {
    width: calc(100% - 48px);
  }
}