.place__paragraph {
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  margin: 0;
}

.place__paragraph p {
  width: 100%;
  text-align: start;
  margin: 0;
  margin-top: 26px;
}

.place__paragraph p:nth-child(1) {
  margin-top: 0;
}

@media (min-width: 321px) and (max-width: 768px) {/*в Figma промежуточный вариант был  27px между параграфами. Не стал ставить. Подумал опечатка*/
  .place__paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
  }

  .place__paragraph p {
    margin-top: 25px;
  }
}

@media (max-width: 320px) {
  .place__paragraph p {
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 25px;
  }

  .place__paragraph p:nth-child(1) {
    margin-top: 32px;
  }
}