.intro {
  width: calc(100% - 590px);
  margin: 92px auto;
  margin-left: 148px;
}

@media (max-width: 1024px) {
  .intro {
    margin-left: 48px;
  }
}

@media (max-width: 768px) {
  .intro {
    width: calc(100% - 48px);
    margin: 88px auto;
  }
}

@media (max-width: 320px) {
  .intro {
    width: calc(100% - 28px);
  }
}