.intro {
  max-width: 690px;
  margin: 0 auto;
  margin-top: 92px;
  margin-left: 148px;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .intro {
    width: calc(100% - 48px);
    margin: 0 auto;
    margin-top: 88px;
    margin-left: 48px;
  }
}

@media (min-width: 321px) and (max-width: 768px) {
  .intro {
    width: calc(100% - 32px);
    margin: 0 auto;
    margin-top: 64px;
  }
}