.cover__background {
  padding-top: 62.6%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background: url(../../../images/cover-trains.jpg) no-repeat 100% /cover, rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
  margin: 0 auto;
  text-decoration: none;
  
}