.place {
  max-width: 984px;
  margin: 0 auto;
  margin-top: 80px;
  display: grid;
  grid-template-columns: minmax(400px, 460px) minmax(428px, 484px);
  gap: 48px 40px;
}

.place:nth-of-type(1) {
  margin-top: 92px;
}