.place {
  margin: 0 auto;
  margin-top: 80px;
  display: grid;
  grid-template-columns: 460px 484px;
  gap: 48px 40px;
  justify-content: center;
}

.place:nth-of-type(1) {
  margin-top: 0;
}

@media (min-width: 539px) and (max-width: 1024px) {
  .place {
    max-width: 100%;
    grid-template-columns: minmax(225px, 440px) minmax(237px, 456px);
    gap: 48px 32px;

  }
}

@media (max-width: 539px) {
  .place {
    width: 100%;
    grid-template-columns: 1fr;
    gap: 0;
    margin-top: 80px;
  }
}